body {
    font-family: Arial;
    text-align:center;
    background:#f4f8f4;
}

.box {
    margin:10px;
}

input, button {
    padding:8px;
    margin:5px;
}

.card {
    background:white;
    margin:10px auto;
    padding:10px;
    width:200px;
    border-radius:10px;
}